.lead {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding-top: 48px;
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}
